{% extends '@App/index.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}Добавление поста{% endblock %}

{% block body %}
    <div class="flashes">
        {% for label, messages in app.flashes(['success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Отправить" class="btn">
        {{ form_end(form) }}
    </div>

    {#{{ form_row(form.title) }}#}
    {#<div class="form_title">#}
        {#{{ form_label(form.title) }}#}
        {#{{ form_errors(form.title) }}#}
        {#{{ form_widget(form.title) }}#}
    {#</div>#}
    {#{{ form_row(form.username) }}#}
    {#{{ form_row(form.content) }}#}
    {#<br>#}


{% endblock %}